appnope==0.1.0
attrs==17.3.0
certifi==2017.11.5
chardet==3.0.4
clldutils==1.13.10
colorlog==3.1.0
configparser==3.5.0
coverage==4.4.2
cycler==0.10.0
decorator==4.1.2
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.11.0
latexcodec==1.0.5
matplotlib==2.1.1
mpmath==1.0.0
nltk==3.4.5
numpy==1.13.3
parso==0.1.0
pexpect==4.3.0
pickleshare==0.7.4
powerlaw==1.4.3
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.2
pybtex==0.21
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.2.5
pytest-cov==2.5.1
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
regex==2017.11.9
requests==2.20.0
rfc3986==1.1.0
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
tabulate==0.8.1
traitlets==4.3.2
treemaker==1.1
uritemplate==3.0.0
urllib3==1.24.2
wcwidth==0.1.7
